repos:
  # Commit message linting
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]

  # Code formatting
  - repo: https://github.com/psf/black
    rev: 26.1.0
    hooks:
      - id: black
        language_version: python3.12
        exclude: ^ods_exd_api_box/proto/

  # Import sorting
  - repo: https://github.com/PyCQA/isort
    rev: 7.0.0
    hooks:
      - id: isort
        args: ["--profile", "black"]
        exclude: ^ods_exd_api_box/proto/

  # Linting
  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        args: ["--max-line-length=119", "--extend-ignore=E203,W503,W293"]
        exclude: ^ods_exd_api_box/proto/

  # Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        additional_dependencies: ["pandas-stubs"]
        args: [--python-version=3.12, --no-error-summary]
        exclude: ^(tests/|ods_exd_api_box/proto/)

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: debug-statements
      - id: detect-private-key

# Local configuration
default_stages: [pre-commit]
fail_fast: false
